@font-face {
	font-family: "bebasneue-bold";
	src: url("bebasneue-bold.eot");
	src: url("bebasneue-bold.eot#iefix") format("embedded-opentype"),
	url("bebasneue-bold.woff") format("woff"),
	url("bebasneue-bold.ttf") format("truetype"),
	url("bebasneue-bold.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "bebasneue-regular";
	src: url("bebasneue-regular.eot");
	src: url("bebasneue-regular.eot#iefix") format("embedded-opentype"),
	url("bebasneue-regular.woff") format("woff"),
	url("bebasneue-regular.ttf") format("truetype"),
	url("bebasneue-regular.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: "bebasneue-book";
	src: url("bebasneue-book.eot");
	src: url("bebasneue-book.eot#iefix") format("embedded-opentype"),
	url("bebasneue-book.woff") format("woff"),
	url("bebasneue-book.ttf") format("truetype"),
	url("bebasneue-book.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'GothamHTFThinRegular';
    src: url('gothamhtfthin.eot');
    src: url('gothamhtfthin.eot') format('embedded-opentype'),
         url('gothamhtfthin.woff2') format('woff2'),
         url('gothamhtfthin.woff') format('woff'),
         url('gothamhtfthin.ttf') format('truetype'),
         url('gothamhtfthin.svg#GothamHTFThinRegular') format('svg');
}

@font-face {
	font-family: "Gotham-light";
	src: url("gothamhtf-light.eot");
	src: url("gothamhtf-light.eot#iefix") format("embedded-opentype"),
	url("gothamhtf-light.woff") format("woff"),
	url("gothamhtf-light.ttf") format("truetype"),
	url("gothamhtf-light.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Gotham-bold";
	src: url("gothamhtf-bold.eot");
	src: url("gothamhtf-bold.eot#iefix") format("embedded-opentype"),
	url("gothamhtf-bold.woff") format("woff"),
	url("gothamhtf-bold.ttf") format("truetype"),
	url("gothamhtf-bold.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}