@font-face {
	font-family: "bebasneue-bold";
	src: url("bebasneue-bold.eot");
	src: url("bebasneue-bold.eot#iefix") format("embedded-opentype"),
	url("bebasneue-bold.woff") format("woff"),
	url("bebasneue-bold.ttf") format("truetype"),
	url("bebasneue-bold.svg") format("svg");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "bebasneue-regular";
	src: url("bebasneue-regular.eot");
	src: url("bebasneue-regular.eot#iefix") format("embedded-opentype"),
	url("bebasneue-regular.woff") format("woff"),
	url("bebasneue-regular.ttf") format("truetype"),
	url("bebasneue-regular.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: "bebasneue-book";
	src: url("bebasneue-book.eot");
	src: url("bebasneue-book.eot#iefix") format("embedded-opentype"),
	url("bebasneue-book.woff") format("woff"),
	url("bebasneue-book.ttf") format("truetype"),
	url("bebasneue-book.svg") format("svg");
	font-weight: 200;
	font-style: normal;
}

@font-face {
    font-family: 'GothamHTFThinRegular';
    src: url('gothamhtfthin.eot');
    src: url('gothamhtfthin.eot') format('embedded-opentype'),
         url('gothamhtfthin.woff2') format('woff2'),
         url('gothamhtfthin.woff') format('woff'),
         url('gothamhtfthin.ttf') format('truetype'),
         url('gothamhtfthin.svg#GothamHTFThinRegular') format('svg');
     font-weight: normal; 
     font-style: normal; 
}

@font-face {
	font-family: "Gotham-light";
	src: url("gothamhtf-light.eot");
	src: url("gothamhtf-light.eot#iefix") format("embedded-opentype"),
	url("gothamhtf-light.woff") format("woff"),
	url("gothamhtf-light.ttf") format("truetype"),
	url("gothamhtf-light.svg") format("svg");
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: "Gotham-bold";
	src: url("gothamhtf-bold.eot");
	src: url("gothamhtf-bold.eot#iefix") format("embedded-opentype"),
	url("gothamhtf-bold.woff") format("woff"),
	url("gothamhtf-bold.ttf") format("truetype"),
	url("gothamhtf-bold.svg") format("svg");
	font-weight: bold;
	font-style: normal;
}

/* Open Sans Font */
@font-face {
    font-family: 'open_sansregular';
    src: url('opensans-regular-webfont.eot');
    src: url('opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensans-regular-webfont.woff2') format('woff2'),
         url('opensans-regular-webfont.woff') format('woff'),
         url('opensans-regular-webfont.ttf') format('truetype'),
         url('opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('opensans-semibold-webfont.eot');
    src: url('opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensans-semibold-webfont.woff2') format('woff2'),
         url('opensans-semibold-webfont.woff') format('woff'),
         url('opensans-semibold-webfont.ttf') format('truetype'),
         url('opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanssemibold_italic';
    src: url('opensans-semibolditalic-webfont.eot');
    src: url('opensans-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensans-semibolditalic-webfont.woff2') format('woff2'),
         url('opensans-semibolditalic-webfont.woff') format('woff'),
         url('opensans-semibolditalic-webfont.ttf') format('truetype'),
         url('opensans-semibolditalic-webfont.svg#open_sanssemibold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansbold';
    src: url('opensans-bold-webfont.eot');
    src: url('opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensans-bold-webfont.woff2') format('woff2'),
         url('opensans-bold-webfont.woff') format('woff'),
         url('opensans-bold-webfont.ttf') format('truetype'),
         url('opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansbold_italic';
    src: url('opensans-bolditalic-webfont.eot');
    src: url('opensans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensans-bolditalic-webfont.woff2') format('woff2'),
         url('opensans-bolditalic-webfont.woff') format('woff'),
         url('opensans-bolditalic-webfont.ttf') format('truetype'),
         url('opensans-bolditalic-webfont.svg#open_sansbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sansextrabold';
    src: url('opensans-extrabold-webfont.eot');
    src: url('opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensans-extrabold-webfont.woff2') format('woff2'),
         url('opensans-extrabold-webfont.woff') format('woff'),
         url('opensans-extrabold-webfont.ttf') format('truetype'),
         url('opensans-extrabold-webfont.svg#open_sansextrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sansextrabold_italic';
    src: url('opensans-extrabolditalic-webfont.eot');
    src: url('opensans-extrabolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensans-extrabolditalic-webfont.woff2') format('woff2'),
         url('opensans-extrabolditalic-webfont.woff') format('woff'),
         url('opensans-extrabolditalic-webfont.ttf') format('truetype'),
         url('opensans-extrabolditalic-webfont.svg#open_sansextrabold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansitalic';
    src: url('opensans-italic-webfont.eot');
    src: url('opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensans-italic-webfont.woff2') format('woff2'),
         url('opensans-italic-webfont.woff') format('woff'),
         url('opensans-italic-webfont.ttf') format('truetype'),
         url('opensans-italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sanslight';
    src: url('opensans-light-webfont.eot');
    src: url('opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensans-light-webfont.woff2') format('woff2'),
         url('opensans-light-webfont.woff') format('woff'),
         url('opensans-light-webfont.ttf') format('truetype'),
         url('opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sanslight_italic';
    src: url('opensans-lightitalic-webfont.eot');
    src: url('opensans-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensans-lightitalic-webfont.woff2') format('woff2'),
         url('opensans-lightitalic-webfont.woff') format('woff'),
         url('opensans-lightitalic-webfont.ttf') format('truetype'),
         url('opensans-lightitalic-webfont.svg#open_sanslight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Muli */
@font-face {
    font-family: 'muliregular';
    src: url('muli-webfont.eot');
    src: url('muli-webfont.eot?#iefix') format('embedded-opentype'),
         url('muli-webfont.woff2') format('woff2'),
         url('muli-webfont.woff') format('woff'),
         url('muli-webfont.ttf') format('truetype'),
         url('muli-webfont.svg#muliregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'mulibold';
    src: url('muli-bold-webfont.eot');
    src: url('muli-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('muli-bold-webfont.woff2') format('woff2'),
         url('muli-bold-webfont.woff') format('woff'),
         url('muli-bold-webfont.ttf') format('truetype'),
         url('muli-bold-webfont.svg#mulibold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'mulilight';
    src: url('muli-light-webfont.eot');
    src: url('muli-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('muli-light-webfont.woff2') format('woff2'),
         url('muli-light-webfont.woff') format('woff'),
         url('muli-light-webfont.ttf') format('truetype'),
         url('muli-light-webfont.svg#mulilight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'mulisemibold';
    src: url('muli-semibold-webfont.eot');
    src: url('muli-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('muli-semibold-webfont.woff2') format('woff2'),
         url('muli-semibold-webfont.woff') format('woff'),
         url('muli-semibold-webfont.ttf') format('truetype'),
         url('muli-semibold-webfont.svg#mulisemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'permanent_markerregular';
    src: url('PermanentMarker-webfont.eot');
    src: url('PermanentMarker-webfont.eot?#iefix') format('embedded-opentype'),
         url('PermanentMarker-webfont.woff') format('woff'),
         url('PermanentMarker-webfont.ttf') format('truetype'),
         url('PermanentMarker-webfont.svg#permanent_markerregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
