/* 
	Stylesheet To remove some configurations fields from Woocommerce on product details panel
	
	Made by Tarful

*/


.woocommerce_options_panel p.form-field._sale_price_field,
.woocommerce_options_panel p.form-field.comment_status_field,
.woocommerce_options_panel p._backorders_field, 
.woocommerce_options_panel p._sold_individually_field,
#woocommerce-product-data ul.wc-tabs li.shipping_options,
#woocommerce-product-data .woocommerce_variable_attributes .upload_image,
#woocommerce-product-data .woocommerce_variable_attributes .hide_if_variation_virtual,
#woocommerce-product-data .woocommerce_variable_attributes .variable_pricing .form-row-last,
#woocommerce-product-data .woocommerce_variable_attributes .show_if_variation_manage_stock .form-row-last,
#commentsdiv,
#postexcerpt,
#postcustom {
	display: none !important;
}

#your-profile fieldset#simple-local-avatar-ratings {
	display: none;
}

#woocommerce-product-data .woocommerce_variable_attributes .form-row-last {
	width: 100%;
}