.item_promise{
	padding: 15px 0;
	width: 100%;
}
.promise_info{
	background-color: white;
	width: 100%;
	text-align: center;
	justify-content: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
}
.promise-template .block_network .box_stamp{
	display: none;
}
.testimonial-featured{
	padding: 10% 15px;
}
.imgs_full_width img{
	width: 100%;
}
.item_promise img, .item_promise .promise_info{height: 100%;}
.caption_promise{
	position: absolute;
	top: 0px;
	left: 15px;
	bottom: 0px;
	right: 15px;
}
.banner_principal .caption_promise_info{
	max-height: 700px;
}
.caption_promise_gradient{
	background: -moz-linear-gradient(top,  rgba(25,32,46,0) 36%, rgba(25,32,46,0.72) 87%, rgba(25,32,46,0.9) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(36%,rgba(25,32,46,0)), color-stop(87%,rgba(25,32,46,0.72)), color-stop(100%,rgba(25,32,46,0.9))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(25,32,46,0) 36%,rgba(25,32,46,0.72) 87%,rgba(25,32,46,0.9) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(25,32,46,0) 36%,rgba(25,32,46,0.72) 87%,rgba(25,32,46,0.9) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(25,32,46,0) 36%,rgba(25,32,46,0.72) 87%,rgba(25,32,46,0.9) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(25,32,46,0) 36%,rgba(25,32,46,0.72) 87%,rgba(25,32,46,0.9) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0019202e', endColorstr='#e619202e',GradientType=0 ); /* IE6-9 */
}
.promise-template{
	font-family: "bebasneue-regular";
}
.centrado_vertical{
	display: flex;
	display: -webkit-flex;
    -webkit-align-items: center;
	align-items: center;
}
.caption_banner_promise{
	background-image: url(images/stamp.png);
	margin-right: -100px;
	background-repeat: no-repeat;
	background-position: 66% 100%;
}
.caption_banner_promise .avalaible{width: auto; margin: 0px 15px; padding: 3px 35px; font-size: 22px;}
.caption_banner_promise .link_exp{text-decoration: underline; margin: 0px 15px;}
.caption_banner_promise .titulo_promise{font-size: 285%; line-height: 1.2; font-weight: lighter;font-family: 'bebasneue-book';}
.play_video{
	border-radius: 50%;
	border: 1px solid #FFF !important;
	width: 67px;
	height: 67px;
	justify-content: center;
	-webkit-justify-content: space-around;
	-moz-justify-content: center;
	margin: 0 auto;
}
.link_play_video{
	text-align: center;
	display: block;
}
.play_video span{font-size: 24px;left: 2px;}
.link_play_video * {
	transition: width 0.2s, height 0.2s, font-size 0.2s;
	-o-transition: width 0.2s, height 0.2s, font-size 0.2s;
	-moz-transition: width 0.2s, height 0.2s, font-size 0.2s;
	-webkit-transition: width 0.2s, height 0.2s, font-size 0.2s; /* Safari */
}
.link_play_video:hover{
	text-decoration: none;

}
.link_play_video:link{
	text-decoration: none;
}
.link_play_video:hover *{
	font-size: 28px;
}
.link_play_video:hover .play_video{
	width: 92px;
	height: 92px;
}
.promise_info .enumerar{
	border-radius: 50%;
	background-color: #e74c3c;
	padding: 9px 13px 3px 13px;
}
.promise_info p{
	color: #000;
	width: 100%;
	margin: 6% 0px 0px;
	font-size: 148%;
	line-height: 1.2;
	font-family: "bebasneue-book";
}
.promise_info > div.row{
	padding: 0 17px;
}
.banner_secundario .contenido_banner{
	color: black;
	font-family: "bebasneue-book";
}
.banner_secundario .contenido_banner * {
	text-align: center;
}
.banner_secundario .contenido_banner .contador{
	font-size: 320%;
	line-height: 1.2;
	color: rgb(38, 38, 38);
}
.banner_secundario .contenido_banner .nombre{
	font-size: 120%;
	color: rgb(57, 57, 57);
	font-family: "bebasneue-regular";
}
#contenido_promise{padding: 9% 7%; background-color: rgb(25, 32, 46);}
.wp-social-login-provider-list{
	width: auto;
	display: table;
}
.box_main_social_login .wp-social-login-provider-list a.wp-social-login-provider-facebook, .box_main_social_login .wp-social-login-provider-list a.wp-social-login-provider-google{
	width: 220px;
	float: left;
}
#contenido_promise{
	font-family: "Gotham-light";
}
.carousel-control .glyphicon-menu-left, .carousel-control .left_icon{
	left: 30%;
	margin-left: -10px;
}
.carousel-control .glyphicon-menu-right, .carousel-control .right_icon{
	right: 30%;
	margin-right: -10px;
}
.carousel-control .glyphicon-menu-left,
.carousel-control .glyphicon-menu-right,
#carousel-product .carousel-control .carousel_icon{
	position: absolute;
	z-index: 5;
	display: inline-block;
	height: auto;
	width: 23px;
	top: 50%;
}
.like-top{
	background-position: right top;
	margin-right: -1px;
}
#main .product-info .single_variation span.price,#main .product-info .single_variation p.stock{
	display: inline;
	float: none;
}
#main .product-info .single_variation span.price{
}









